@font-face {
			font-family: "RalewayRegular";
			src: url("RalewayRegular/RalewayRegular.eot");
			src: url("RalewayRegular/RalewayRegular.eot?#iefix")format("embedded-opentype"),
			url("RalewayRegular/RalewayRegular.woff") format("woff"),
			url("RalewayRegular/RalewayRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}



	@font-face {
			font-family: "RalewayLight";
			src: url("RalewayLight/RalewayLight.eot");
			src: url("RalewayLight/RalewayLight.eot?#iefix")format("embedded-opentype"),
			url("RalewayLight/RalewayLight.woff") format("woff"),
			url("RalewayLight/RalewayLight.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "RalewayMedium";
			src: url("RalewayMedium/RalewayMedium.eot");
			src: url("RalewayMedium/RalewayMedium.eot?#iefix")format("embedded-opentype"),
			url("RalewayMedium/RalewayMedium.woff") format("woff"),
			url("RalewayMedium/RalewayMedium.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "RalewaySemiBold";
			src: url("RalewaySemiBold/RalewaySemiBold.eot");
			src: url("RalewaySemiBold/RalewaySemiBold.eot?#iefix")format("embedded-opentype"),
			url("RalewaySemiBold/RalewaySemiBold.woff") format("woff"),
			url("RalewaySemiBold/RalewaySemiBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "RalewayBold";
			src: url("RalewayBold/RalewayBold.eot");
			src: url("RalewayBold/RalewayBold.eot?#iefix")format("embedded-opentype"),
			url("RalewayBold/RalewayBold.woff") format("woff"),
			url("RalewayBold/RalewayBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "RalewayExtraBold";
			src: url("RalewayExtraBold/RalewayExtraBold.eot");
			src: url("RalewayExtraBold/RalewayExtraBold.eot?#iefix")format("embedded-opentype"),
			url("RalewayExtraBold/RalewayExtraBold.woff") format("woff"),
			url("RalewayExtraBold/RalewayExtraBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

@font-face {
  font-family: 'FuturaRener';
  src: url('futura/FuturaRener.eot') format('embedded-opentype');
  font-weight: lighter;
  font-style: normal;
}


@font-face {
  font-family: 'FuturaRener-Light';
  src: url('futura/FuturaRener-Light.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}




